# Ignore all data folders and files
bronze/
silver/
gold/
raw_extract/
*.csv
*.parquet
*.xlsx
datastorm-7-0-rotaract.zip
dq_checks.py

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc
