# Environment and Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
.venv/

# Original Source Data
datastorm-7-0-rotaract/

# Lakehouse Data (Ignore heavy data files, but keep the directory structure)
Lakehouse/bronze/*.csv
Lakehouse/bronze/*.xlsx
Lakehouse/bronze/*.json

Lakehouse/silver/*.csv
Lakehouse/silver/*.json

Lakehouse/silver/quarantined/*.csv
Lakehouse/silver/quarantined/*.json

Lakehouse/gold/*.csv
Lakehouse/gold/*.json

# Make sure we DO NOT ignore the final submission predictions
!CodeStormers_predictions.csv
!README.md
!Technical_Report_CodeStormers.md
!requirements.txt
